#cards-grid {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 400px;
  margin: auto;
  border: 1px solid black;
}

.card {
  flex-basis: 33.3%;
  position: relative;

  transition-property: transform;
  transition-duration: 1s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.back_face {
  position: absolute;
  top: 0px;
  left: 0px;
  backface-visibility: hidden;
}

.front_face {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

img {
  width: 100%;
}
